@font-face {
    font-family: Poppins;
    src: url('../font/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins-Bold;
    src: url('../font/Poppins/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('../font/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('../font/Poppins/Poppins-Light.ttf');
}
@font-face {
    font-family: Poppins-Medium;
    src: url('../font/Poppins/Poppins-Medium.ttf');
}